* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    color: #176B87;
    font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
    margin: 30px;
    line-height: 1.5rem;
}
h3, h4 {
    color: #04364A;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    margin: 30px;
    font-weight: 400;
}
p {
    padding: 20px;
}
a {
    color: #04364A;
    text-decoration: none;
    padding: 10px;
}
main, header, footer {
	margin: 0 auto;
    word-wrap: break-word;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* header */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
    padding: 0 30px;
    height: auto;
}
.logo {
    display: none;
}
img.icons {
    color: #04364A;
}


div.social-icons {
    display: none;
}

/* navigation */
nav {
    background-color: #04364A;
    margin: 0 auto;
}

.navigation {
    list-style: none;
    padding: 0;
	margin: 0 auto;
}

.navigation li {
    display: none;
}

.navigation a {
	display: block;
	color: #DAFFFB;
	text-align: left;
	padding: 1rem;
	text-decoration: none;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
	background-color: #DAFFFB;
    color: #04364A;
}
.navigation a.active {
    background: #DAFFFB;
    color: #04364A;
}

.show li {
    display: block;
}
/* small menu/nav */
#menu {
    display: block;
    font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
    right: 1rem;
}

#menu::before {
    content: "≡";
    font-size: 3rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #04364A;
    padding-bottom: 10px;
}
a#menu {
    color: #04364A;
}
a#menu.show{
    padding: 0;
}
#menu.show::before {
    content: "x";
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 15px ;
    border-bottom: none;
    color: #04364A;
}

/* main */
.main-content {
    padding: 0;
    justify-content: center;
}
/* Hero section */
.hero {
    position: relative;
    background: url("../images/hero.jpg") no-repeat center center/cover;
    height: auto;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.gradient {
    color: #DAFFFB;
    background-color: rgb(4, 54, 74, 0.88);
    overflow: hidden;
    height: auto;
    position: relative;
}
.hero h1 {
    color: #DAFFFB;
    letter-spacing: 1px;
    line-height: 2.5rem;
    font-size: 3rem;
    padding: 50px 30px 10px 30px;
    margin: 0;
}
.hero p {
    padding-left: 50px;
    padding-right: 30px;
    color: #DAFFFB;
}
.cta-button {
    color: #04364A;
    display: inline-block;
    padding: 10px 20px;
    background: #ffff;
    margin: 20px 50px 30px;
    border-radius: 5px;
}
.cta-button:hover {
    color: #04364A;
    background: #DAFFFB;
    cursor: pointer;
}

.after-hero {
    align-items: center;
    width: auto;
    height: auto;
}
.section-2 {
    height: 100%;
}

/* sections default */
.section-1 h2,
.section-2 h2,
.section-3 h2,
.section-4 h2,
.section-5 h2 {
    font-size: 2.2rem;
    line-height: 1.9rem;
}
.section-1 p,
.section-2 p,
.section-3 p,
.section-4 p,
.section-5 p {
    padding: 0 30px;
    margin-bottom: 30px;
}

.card {
    border-radius: 15px;
    border: 2px #04364A solid;
    margin: 1rem;
    min-height: 100px;
    width: auto;
}
.card h2 {
    margin: 0;
    padding: 15px;
    text-align: center;
    border-radius: 15px 15px  0 0;
}
.card h3 {
    color: #04364A;
    background-color: #ffff;
}
.card a {
    text-decoration: none;
}

.card a:hover {
    color: #163020;
}

.section-3 { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #DAFFFB;
}
.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
}
.actions h3 {
    font-size: 1.5rem;
    text-align: center;
    padding: 0 30px;
}
.actions p {
    padding: 0 50px;
    text-align: center;
}
.actions a {
    font-size: .8rem;
    background-color: #04364A;
    color: #DAFFFB;
    border-radius: 5px;
}
.cta-btn:hover {
    background-color: #176B87;
    color: #fff;
}
/* spotlight */

.spotlight-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.spotlight-container h3 {
    margin: 15px 30px;
}
.spotlight-container img {
    border-radius: 10px;  
}
.text {
    text-align: left;
}

/* footer */
footer {
    background-color: #04364A;
    color: #DAFFFB;
    height: auto;
    padding: 20px;
}
.footer-container {
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    align-items: center;
    margin: 0 auto;
    text-align: left;
}
.footer-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 15px;
}
.footer-2 {
    text-align: right;
    grid-column: 2/3;
    grid-row: 1/2;
}
.footer-3 {
    text-align: center;
    grid-column: 1/3;
    grid-row: 2/3;
}
.footer-1, .footer-2 {
    padding: 10px;
}
footer h3 {
    color: #ffff;
    margin: 5px 0;
}
footer p {
    padding: 0;
    font-size: 13px;
}
footer a {
    color: #ffff;
}
footer a:hover {
    color: #176B87;
}
#year {
  margin: 0 5px ;  
}

#lastModified {
    color: #ffff;
}

.spotlight-img,
.event-img {
    height: 50px;
    width: auto;
}

.logo {
    height: 100px;
}

.logo-name {
    height: 50px;
}

.actions img {
    height: 100px;
    width: auto;
}


/* DISCOVER DISCOVER DISCOVER DISCOVER */
.discover {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}
.discover h1 {
    font-size: 4rem;
}

/* calendar */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td {
    cursor: pointer;
}

.selected-day {
    background-color: #4CAF50;
    color: #fff;
}

/* Sidebar styles */
.sidebar {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
}

.sidebar p {
    color: #666;
    margin: 0;
}

.sidebar h3,
.sidebar h2 {
    font-size: 2rem;
    margin: 5px 15px;
}

.sidebar h4 {
    font-size: 1.5rem;
    margin: 10px 0 0 15px;
}

img.lazy-load {
    width: 100%;
    height: auto;
}

.image-effect {
    border-radius: 15px 100px;
    width: auto;
    height: auto;
    opacity: 95%;
    object-fit: cover;
    margin: 10px 0;
}
.image-effect1 {
    border-radius: 100px 15px;
    width: auto;
    height: auto;
    opacity: 95%;
    object-fit: cover;
}
.image-effect:hover,
.image-effect1:hover {
    opacity: 1;
    filter: saturate(50%);
}

.img-container {
    position: relative;
}

.image-label {
    position: absolute;
    bottom: 5px;
    left: 15px;
    opacity: 0.90;
    padding: 10px;
    color: #fff;
	font-size: 4rem;
    letter-spacing: 1px;
    line-height: 3rem;
}


