* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #163020;
}

#menu {
    display: block;
    font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	color: #000;
    right: 1rem;
}

#menu::before {
    content: "≡";
    font-size: 3rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #163020;
    padding-bottom: 10px;
    border-bottom: #163020 solid;
}

h1, h2, h3 {
	font-weight: 400;
}
main, header, footer {
    max-width: 1100px;
	margin: 0 auto;
    word-wrap: break-word;
}

/* header */
header {
	background-color: #304D30;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
    height: auto;
}

.my-image {
    border-radius: 10px;
    margin-right: 20px;
    height: 150px;
    width: auto;
}

.name {
    color: #EEF0E5;
    font-size: 2rem;
}

/* navigation */
nav {
    background-color: #163020;
    max-width: 1100px;
    margin: 0 auto;
}

.navigation {
    list-style: none;
    padding: 0;
	margin: 0 auto;
}

.navigation li {
    display: none;
}

.navigation a {
	display: block;
	color: #EEF0E5;
	text-align: left;
	padding: 1rem;
	text-decoration: none;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
	background-color: #EEF0E5;
    color: #163020;
}
.navigation a.active {
    color: #163020;
    background: #EEF0E5;
}

.show li {
    display: block;
}
a#menu.show{
    padding: 0;
}
#menu.show::before {
    content: "x";
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 15px ;
    border-bottom: none;
    background-color: #163020;
    color: #B6C4B6;
}

/* main */
main {
    padding: .75rem;
    justify-content: center;
    max-width: 1000px;
}

main h1 {
    font-size: 1.5rem;
    border-bottom: 1.5px solid #163020;
    padding: 15px;
    margin-bottom: 20px;
}

.card {
    border-radius: 15px;
    margin: 10px;
    border: 2px #304D30 solid;
    background: #EEF0E5;
    min-height: 100px;
    width: auto;
}
.card h2 {
    padding: 15px;
    border-bottom: 2px solid #163020;
    text-align: center;
    background: #B6C4B6;
    border-radius: 15px 15px  0 0;
}
.card ul {
    list-style: none;
    padding: 15px;   
}
.card a {
    text-decoration: none;
    color: #304D30;
}

.card a:hover {
    color: #163020;
}

/* footer */
footer {
    background-color: #EEF0E5;
    color: #163020;
    height: auto;
    padding: 20px;
    text-align: center;
}
.align {
    display: flex;
    text-align: center;
    justify-content: center;
}
.flag {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}
#year {
  margin: 0 5px ;  
}

#lastModified {
    color: #304D30;
}

/* dark mode */

.dark-mode {
    background-color: #333;
    color: #fff;
}

.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-input {
    display: none;
}

.toggle-label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50px;
    height: 30px;
    color: #fff;
    background-color: #3a3a3a;
    border-radius: 15px;
    position: relative;
    cursor: pointer; 
    margin: 10px auto;
}

.toggle-input:checked + .toggle-label {
    background-color: #1a1a1a; 
}

.toggle-label::before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s;
}

.toggle-input:checked + .toggle-label::before {
    transform: translateX(20px);
}

/* base.css */

body.dark-mode {
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* Light text color */
}

body.dark-mode main h1 {
    border-bottom-color: #fff; 
}

header.dark-mode {
    background-color: #2d2d2d; /* Dark header background color */
}

nav.dark-mode {
    background-color: #1a1a1a; /* Dark navigation background color */
}

.navigation.dark-mode a,
.card.dark-mode ul,
.card.dark-mode a {
    color: #fff; /* Light link text color */
}

.card.dark-mode {
    background: #2d2d2d; 
    border: #1a1a1a solid; 
}

.card.dark-mode h2 {
    border-bottom: #fff;
    background: #3a3a3a; 
    color: #fff; 
}

.dark-mode #menu.show::before {
    color: #fff;
    background-color: #1a1a1a;
}
.dark-mode #menu::before {
    color: #fff;
    border-bottom: #fff solid;
}

footer.dark-mode #lastModified{
    color: #c4c4c4;
}

footer.dark-mode {
    background: #2d2d2d; 
    color: #fff; 
}

