@media (min-width: 640px) {
    .name {
        font-size: 2.5rem;
    }
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
    main {
        display: flex;
        flex-wrap: wrap;
    }
    main h1 {
        font-size: 2rem;
        width: 100%;
    }
}
